@page "/admin/websites/{Id}/manage"

@inject ApplicationDbContext Db
@inject ISnackbar SnackBar
@inject IDialogService DialogService

<PageTitle>@(site?.Name ?? "Site Details")</PageTitle>

@if (site is null)
{
    <Loading />
}
else
{
    <MudPaper Class="py-4 px-6 rounded-t-xl mb-3" Elevation="5">
        <MudGrid Justify="Justify.Center" Spacing="3">
            <MudItem><MudIconButton Color="Color.Warning" Href=@($"/admin/websites/edit/{site.Id}") Icon="@Icons.Material.Sharp.Edit" /></MudItem>
            <MudItem><MudText Typo="Typo.h5">@site.Name</MudText></MudItem>
            <MudItem><MudLink Typo="Typo.h6" Href="@site.Domain" Color="Color.Info" Target="_blank">@site.Domain?.ToDomain()<MudIcon Icon="@Icons.Material.Sharp.OpenInNew" /></MudLink></MudItem>
            <MudItem><MudText Typo="Typo.h5">@site.Sections?.Count Sections, @(site.Sections?.Sum(x => x.Widgets?.Count ?? 0)) Widgets</MudText></MudItem>
        </MudGrid>
    </MudPaper>

    @if (sections is null or [])
    {
        <ApplicationAlert Text=@($"No web site sections found for {site.Name}.") />
    }
    else
    {
        <MudExpansionPanels MultiExpansion="true" Square="true" Elevation="0">
            @foreach (var section in sections)
            {
                <MudExpansionPanel Icon="@Icons.Material.Sharp.ExpandCircleDown"
                                   Class="border-dotted border-3">
                    <TitleContent>
                        <div class="d-flex align-center">
                            <MudIconButton Color="Color.Warning"
                                           Icon="@Icons.Material.Sharp.Edit"
                                           ClickPropagation="false"
                                           Href=@($"/admin/sitesection/edit/{section.Id}?SiteId={site.Id}") />

                            @if (section.Enabled)
                            {
                                <MudIcon Icon="@Icons.Material.Sharp.Public" Color="Color.Success" Title="Published to Site" />
                            }
                            else
                            {
                                <MudIcon Icon="@Icons.Material.Sharp.PublicOff" Color="Color.Warning" Title="Saved as Draft" />
                            }

                            <MudText Inline="true" Typo="Typo.h6" Class="ml-2">@(section.Label)</MudText>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <MudGrid>
                            <MudItem xs="12">
                                <MudPaper Elevation="0" Outlined="true">
                                    <MudTabs>
                                        <MudTabPanel Text="Code" Icon="@Icons.Material.Sharp.Code">
                                            @if (section.Editing)
                                            {
                                                <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small" Class="d-flex justify-end gap-2">
                                                    <MudButton StartIcon="@Icons.Material.Sharp.Cancel"
                                                               IconColor="Color.Error"
                                                               OnClick="() => section.Editing = false">Cancel</MudButton>

                                                    <MudButton StartIcon="@Icons.Material.Sharp.Save"
                                                               IconColor="Color.Success"
                                                               OnClick="() => SaveInlineSection(section)">Save</MudButton>
                                                </MudButtonGroup>

                                                <MudTextField T="string" Label="@(section.Label)"
                                                              Variant="Variant.Outlined"
                                                              Class=""
                                                              @bind-Value="section.Content"
                                                              Lines="6"
                                                              AutoGrow
                                                              AutoFocus />
                                            }
                                            else
                                            {
                                                <MudFab Color="Color.Warning"
                                                        Class="mr-2"
                                                        Style="float:right"
                                                        OnClick="() => section.Editing = true"
                                                        StartIcon="@Icons.Material.Filled.EditNote"
                                                        Size="Size.Small" />
                                                <pre>@(section.Content)</pre>
                                            }
                                        </MudTabPanel>
                                        <MudTabPanel Text="Preview" Icon="@Icons.Material.Sharp.Preview">
                                            @((MarkupString)(section.Content ?? ""))
                                        </MudTabPanel>
                                    </MudTabs>
                                </MudPaper>
                            </MudItem>
                            @foreach (var widget in section.Widgets ?? [])
                            {
                                <MudItem xs="12" md="4" lg="3" xl="2">
                                    <MudPaper Elevation="0" Outlined="true">
                                        <MudIconButton Color="Color.Warning"
                                                       OnClick="() => EditSiteItemAsync(section, widget)"
                                                       Size="Size.Small"
                                                       Icon="@Icons.Material.Sharp.Edit" />
                                        <MudText Typo="Typo.h6" Class="mb-3" Inline="true">@widget.Label</MudText>

                                        <MudTabs>
                                            <MudTabPanel Text="Code" Icon="@Icons.Material.Sharp.Code">
                                                @if (widget.Editing)
                                                {
                                                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small" Class="d-flex justify-end gap-2">
                                                        <MudButton StartIcon="@Icons.Material.Sharp.Cancel"
                                                                   IconColor="Color.Error"
                                                                   OnClick="() => widget.Editing = false">Cancel</MudButton>

                                                        <MudButton StartIcon="@Icons.Material.Sharp.Save"
                                                                   IconColor="Color.Success"
                                                                   OnClick="() => SaveInlineWidget(widget)">Save</MudButton>
                                                    </MudButtonGroup>
                                                    <MudTextField T="string" Label="@(widget.Label)"
                                                                  Variant="Variant.Outlined"
                                                                  Class=""
                                                                  @bind-Value="widget.Content"
                                                                  Lines="6"
                                                                  AutoGrow
                                                                  AutoFocus />
                                                }
                                                else
                                                {
                                                    <MudFab Color="Color.Warning"
                                                            Class="mr-2"
                                                            Style="float:right"
                                                            OnClick="() => widget.Editing = true"
                                                            StartIcon="@Icons.Material.Filled.EditNote"
                                                            Size="Size.Small" />
                                                    <pre>@(widget.Content)</pre>
                                                }

                                            </MudTabPanel>
                                            <MudTabPanel Text="Preview" Icon="@Icons.Material.Sharp.Preview">
                                                @((MarkupString)(widget.Content ?? ""))
                                            </MudTabPanel>
                                        </MudTabs>

                                    </MudPaper>
                                </MudItem>
                            }
                            <MudItem xs="6" md="4" lg="3" xl="2" Class="align-self-center">
                                <MudTooltip Text=@($"Add new {section.Label} item")>
                                    <MudIconButton Icon="@Icons.Material.Filled.DashboardCustomize"
                                                   OnClick="() => EditSiteItemAsync(section)"
                                                   Variant="Variant.Filled"
                                                   Size="Size.Large" />
                                </MudTooltip>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudExpansionPanel>
            }
        </MudExpansionPanels>

        <MudButton Variant="Variant.Filled"
                   Class="mt-3"
                   Size="Size.Large"
                   StartIcon="@Icons.Material.Sharp.PostAdd"
                   Href=@($"/admin/sitesection/new?SiteId={site.Id}")>Add Section</MudButton>
    }
}

@code {

    [Parameter]
    public string Id { get; set; }

    private Site site = null!;
    private List<SiteItemViewModel> sections = [];

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
            return;

        site = await Db.Sites.Where(x => x.Id == Id)
                            .Include(y => y.Sections)
                            .ThenInclude(z => z.Widgets)
                            .FirstOrDefaultAsync() ?? new();

        sections = site?.Sections?.ToViewModel() ?? [];
    }

    private async Task SaveInlineSection(SiteItemViewModel section)
    {
        var rowsUpdated = await Db.Sections
        .Where(s => s.Id == section.Id)
        .ExecuteUpdateAsync(setters => setters.SetProperty(b => b.Content, section.Content));

        if (rowsUpdated > 0)
        {
            SnackBar.Add("Section saved successfully.", Severity.Success);
        }

        section.Editing = false;
    }


    private async Task SaveInlineWidget(SiteItemViewModel widget)
    {
        var rowsUpdated = await Db.Widgets
        .Where(s => s.Id == widget.Id)
        .ExecuteUpdateAsync(setters => setters.SetProperty(b => b.HtmlContent, widget.Content));

        if (rowsUpdated > 0)
        {
            SnackBar.Add("Widget saved successfully.", Severity.Success);
        }

        widget.Editing = false;
    }

    private async Task EditSiteItemAsync(SiteItemViewModel section, SiteItemViewModel? widget = null)
    {
        bool isAdd = widget == null;
        var parameters = new DialogParameters<EditSiteWidgetDialog> { { x => x.SectionId, section.Id }, { x => x.WidgetViewModel, widget } };
        var options = new DialogOptions { CloseButton = true, FullWidth = true };
        var dialog = await DialogService.ShowAsync<EditSiteWidgetDialog>((isAdd ? "Add " : "Edit ") + "Widget", parameters, options);
        var result = await dialog.Result;
        var returnModel = result.Data as SiteItemViewModel;

        if (returnModel == null)
            return;

        if (isAdd)
        {
            section.Widgets.Add(returnModel);
        }
        else
        {
            var widgetIndex = section.Widgets.FindIndex(w => w.Id == returnModel.Id);
            if (widgetIndex != -1)
            {
                section.Widgets[widgetIndex] = returnModel;
            }
        }
    }
}
