@inject IDbContextFactory<ApplicationDbContext> DbFactory

@if (loadingData)
{
    <MudProgressCircular Indeterminate Color="Color.Tertiary" />
}
else if (instructor is null)
{
    <ApplicationAlert Text="We couldn't find you on instructors pool, please contact AppSoft admin." />
}
else
{
    <MudPaper Class="p-2 my-2">
        <MudText Typo="Typo.h6" Align="Align.Center">Batch attendance details (Click on batch)</MudText>
        <MudChipSet Filter SelectedChipChanged="BatchChanged">
            @foreach (var group in classesByBatch)
            {
                <MudChip Variant="Variant.Text" Size="Size.Large" Color="Color.Tertiary" Value="group.Key">@group.Key.Name</MudChip>
            }
        </MudChipSet>
    </MudPaper>

    <MudSimpleTable Style="overflow-x: auto;" Dense>
        <thead>
            <tr>
                <th></th>
                @foreach (var h in headings)
                {
                    <th style="@(!h.IsOfficeDay() ? $"background: {Colors.Grey.Lighten1}" : "")">@h.ToString("dddd, MMM dd yyyy")</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in studentAttendances)
            {
                <tr>
                    <td>
                        <MudStack Row>
                            <MudAvatar>
                                <MudImage Src="@row.Profile" />
                            </MudAvatar>
                            <MudText>@row.Name</MudText>
                        </MudStack>

                    </td>
                    @foreach (var date in headings)
                    {
                        if (!date.IsOfficeDay() || date > DateTime.Today)
                        {
                            <td style="@($"background: {Colors.Grey.Lighten1}")"></td>
                        }
                        else
                        {
                            <td>
                                @if (date.Date.ToShortDateString() == row.Date.ToShortDateString())
                                {
                                    if (row.PunchOut == null || row.PunchOut == TimeOnly.MinValue)
                                    {
                                        <MudBadge Color="Color.Error" Content="@("M")" Overlap Bordered>
                                            <MudTooltip Text="@($"Punchin - {row.PunchIn}")">
                                                <MudAvatar Color="Color.Tertiary">P</MudAvatar>
                                            </MudTooltip>
                                        </MudBadge>
                                    }
                                    else
                                    {
                                        <MudTooltip Text="@($"Punchin - {row.PunchIn} Punchout - {row.PunchOut}")">
                                            <MudAvatar Color="Color.Tertiary">P</MudAvatar>
                                        </MudTooltip>
                                    }                                    
                                }
                                else
                                {
                                    <MudAvatar Color="Color.Error">A</MudAvatar>
                                }
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </MudSimpleTable>
}

@code {

    [Parameter]
    public string LoggedInUserId { get; set; } = string.Empty;

    private record StudentAttedance(string Name, string? Profile, DateOnly Date, TimeOnly? PunchIn, TimeOnly? PunchOut);

    IEnumerable<StudentAttedance> studentAttendances = [];
    bool loadingData = false;
    Instructor instructor = null!;
    DateTime[] headings = [];

    IEnumerable<IGrouping<Batch, ClassSchedule>> classesByBatch = [];

    protected override async Task OnInitializedAsync()
    {
        loadingData = true;

        if (LoggedInUserId == string.Empty)
            return;

        using (var Db = DbFactory.CreateDbContext())
        {
            instructor = await Db.Instructors.FirstOrDefaultAsync(x => x.ApplicationUserId == LoggedInUserId);

            if (instructor is null)
            {
                loadingData = false;
                return;
            }

            var classes = await Db.ClassSchedules.Include(y => y.Batch).Where(x => x.InstructorId == instructor.Id).ToListAsync();
            classesByBatch = classes.GroupBy(x => x.Batch);
        }

        loadingData = false;
    }

    private async Task BatchChanged(MudChip chip)
    {
        //fetch students and attendances for this batch selection
        var batch = (Batch)chip.Value;
        if (batch is null)
            return;

        var batchId = batch.Id;
        headings = batch.Start.Until(batch.End);

        using var Db = DbFactory.CreateDbContext();

        var attendances = await Db.Attendances
            .Where(x => x.Student.BatchId == batchId)
            .Select(x => new
            {
                Name = x.Student.Name,
                Profile = x.Student.ProfileImagePath,
                Date = x.Date,
                PunchIn = x.PunchIn,
                PunchOut = x.PunchOut
            })
            .ToListAsync();

        studentAttendances = attendances.Select(x => new StudentAttedance(x.Name, x.Profile, x.Date, x.PunchIn, x.PunchOut));
    }
}
