@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="isDarkMode"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Style="@("background:" + Colors.Brown.Darken1)">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudImage Src="/apptechnosoft.png" Alt="App Technosoft" Height="50" />
        <MudText Typo="Typo.h6" Align="Align.Center" Class="ml-2">APP TECHNOSOFT</MudText>
        <MudSpacer />
        <MudToggleIconButton @bind-Toggled="@isDarkMode"
                             Icon="@Icons.Material.Sharp.DarkMode" Title="Dark mode" Size="Size.Large"
                             ToggledIcon="@Icons.Material.Sharp.LightMode" ToggledTitle="Light mode" />
        <Login />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2" ClipMode="DrawerClipMode.Always">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="px-3 mt-3">
        @Body
    </MudMainContent>    
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool _drawerOpen = true;
    bool isDarkMode = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}